---
name: Test and lint
on:
  push:
    paths:
      - "**/*.go"
jobs:
  test-and-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update && sudo apt install -y libasound2-dev

      - name: Check out repo
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"

      - name: Build
        run: go build -v .

      - name: Test
        run: go test -v ./...

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest
